<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.virtualdoctor.opentok"
        version="0.1.0">

  <name>VDOpentok</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/vdopentok.js" target="js/vdopentok.js"/>

  <js-module src="www/vdopentok.js" name="vdopentok">
    <clobbers target="vdopentok" />
  </js-module>

  <platform name="ios">
    <framework src="OpenTok" type="podspec" />
    <config-file target="config.xml" parent="/widget">
      <feature name="VDOpentok">
        <param name="ios-package" value="VDOpentok" />
      </feature>
    </config-file>

    <header-file src="src/ios/VDOpentok.h" target-dir="VDOpentokPlugin"/>
    <source-file src="src/ios/VDOpentok.m" target-dir="VDOpentokPlugin"/>
  </platform>

</plugin>
